# Instellingen voor de ontwikkelomgeving.
# Let op: de MySQL-gegevens worden alleen gebruikt bij de allereerste start.
# Later wijzigen? Dan moet je de database wissen met: docker compose down -v

# Poorten op je eigen computer
APP_PORT=8080
PHPMYADMIN_PORT=8081
MYSQL_PORT=3306

# MySQL
MYSQL_DATABASE=database
MYSQL_USER=development
MYSQL_PASSWORD=development
MYSQL_ROOT_PASSWORD=root
